Repository wensiet/pipeformer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-on-code-change, validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

build-on-code-change:
  stage: build
  image: docker:dind
  services:
  - docker:dind
  script:
  - docker info
  - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  - export VERSION_TAG=$(if [ "$CI_COMMIT_TAG" != "" ]; then echo "$CI_COMMIT_TAG"; else echo "$CI_COMMIT_REF_NAME-${CI_COMMIT_SHORT_SHA}"; fi)
  ...

validate-compute-configuration:
  image: $IMAGE_NAME:latest
  stage: validate-config
  before_script:
  - source ./find_changed_config.sh
  script:
  - validate -f $file_name -c $change_type

provision-compute-instance:
  image: python:3.12
  stage: provision
  before_script:
  - pip install --upgrade pip
  - pip install poetry
  - poetry install -v
  - source ./find_changed_config.sh
  script:
  - poetry run python cli.py provision -f $file_name -c $change_type

apply-compute-post-scripts:
  image: python:3.12
  stage: post-scripts
  script:
  - echo "Ded, apply compute post scripts"

del awesome compute
  compute/sna/awesome.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

dockerfile fix
  Dockerfile
  pyproject.toml
Due: build-on-code-change

dockerfile fix
  .gitlab-ci.yml
Due: build-on-code-change

dockerfile fix
  compute/sna/awesome.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

dockerfile fix
  Dockerfile
  requirements.txt
Due: build-on-code-change

dockerfile fix
  pyproject.toml
Due: build-on-code-change

ci fix
  .gitlab-ci.yml
Due: build-on-code-change

add awesome compute
  compute/sna/awesome.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

deletion bug-fix
  cli.py
  src/services/provision/service.py
Due: build-on-code-change

add awesome compute
  compute/sna/awesome.yaml
  src/services/provision/service.py
Due: build-on-code-change, validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

ssh keys fix
  src/integrations/timeweb/wrapper.py
  src/services/provision/service.py
Due: build-on-code-change

add awesome comput
  compute/sna/awesome.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

key already added handler
  src/services/provision/service.py
Due: build-on-code-change

manual ssh key adding
  poetry.lock
  pyproject.toml
  requirements.txt
  src/integrations/timeweb/wrapper.py
  src/services/provision/service.py
  src/settings.py
Due: build-on-code-change

del wensiet compute
  compute/sna/wensiet.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

add custom playbooks stage
  cli.py
  compute/sna/awesome.yaml
  poetry.lock
  pyproject.toml
  src/integrations/timeweb/dto.py
  src/services/configuration/dto.py
  src/services/configuration/service.py
  src/services/provision/service.py
  src/services/utils.py
  src/settings.py
Due: build-on-code-change, validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

add custom playbooks stage
  .gitlab-ci.yml
  requirements.txt
Due: build-on-code-change

add compute with playbooks
  compute/sna/with-playbook.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

add compute with playbooks
  .gitlab-ci.yml
Due: build-on-code-change

del compute with playbooks
  compute/sna/with-playbook.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

CI fix, grant new permissions to key
  .gitlab-ci.yml
Due: build-on-code-change

ssh key-fix
  src/services/configuration/dto.py
Due: build-on-code-change

ssh key-fix
  compute/sna/with-playbook.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

add to known hosts
  src/services/configuration/service.py
Due: build-on-code-change

del of compute
  compute/sna/with-playbook.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

Path conditions:
  build-on-code-change: any of: src/**/*, pyproject.toml, poetry.lock, Dockerfile, .gitlab-ci.yml
  validate-compute-configuration: any of: compute/**/*
  provision-compute-instance: any of: compute/**/*
  apply-compute-post-scripts: any of: compute/**/*
