Repository wensiet/pipeformer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-on-code-change, validate-configuration, provision-compute, apply-playbooks

build-on-code-change:
  stage: build
  image: docker:dind
  services:
  - docker:dind
  script:
  - docker info
  - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  - export VERSION_TAG=$(if [ "$CI_COMMIT_TAG" != "" ]; then echo "$CI_COMMIT_TAG"; else echo "$CI_COMMIT_REF_NAME-${CI_COMMIT_SHORT_SHA}"; fi)
  ...

validate-configuration:
  image: $IMAGE_NAME:latest
  stage: validate
  script:
  - python cli.py --old-sha $CI_COMMIT_SHA --new-sha main validate

provision-compute:
  image: $IMAGE_NAME:latest
  stage: provision
  script:
  - python cli.py --old-sha $CI_COMMIT_SHA --new-sha main provision

apply-playbooks:
  image: $IMAGE_NAME:latest
  stage: post-scripts
  before_script:
  - mkdir -p ~/.ssh
  - echo "$SSH_SERVICE" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  script:
  - python cli.py --old-sha $CI_COMMIT_SHA --new-sha main playbooks

Main
  compute/sna/saveliy.yaml
Due: validate-configuration, provision-compute, apply-playbooks

grafana dashboard auto-build
  src/integrations/grafana/__init__.py
  src/integrations/grafana/wrapper.py
  src/services/provision/service.py
Due: build-on-code-change

grafana dashboard auto-build
  src/integrations/grafana/wrapper.py
Due: build-on-code-change

add new compute
  compute/iskander/updated.yaml
Due: validate-configuration, provision-compute, apply-playbooks

Delete saveliy.yaml
  compute/sna/saveliy.yaml
Due: validate-configuration, provision-compute, apply-playbooks

changelog and readme fixes
  CHANGELOG
  README.md
  src/integrations/grafana/wrapper.py
Due: build-on-code-change

Delete .env.template
  .env.template
Due: none

dashboard time ranges clarification
  src/integrations/grafana/wrapper.py
  src/settings.py
Due: build-on-code-change

add vault VM
  compute/iskander/vault.yaml
Due: validate-configuration, provision-compute, apply-playbooks

typo fix
  compute/iskander/vault.yaml
  src/services/provision/service.py
Due: build-on-code-change, validate-configuration, provision-compute, apply-playbooks

add vm for vault hosting
  compute/iskander/vault.yaml
Due: validate-configuration, provision-compute, apply-playbooks

del vm
  compute/iskander/vault.yaml
Due: validate-configuration, provision-compute, apply-playbooks

Delete updated.yaml
  compute/iskander/updated.yaml
Due: validate-configuration, provision-compute, apply-playbooks

Configure SAST in `.gitlab-ci.yml`, creating this file if it does not already exist
  .gitlab-ci.yml
Due: build-on-code-change

add new compute with docker
  compute/sna/efim-vm.yaml
Due: validate-configuration, provision-compute, apply-playbooks

Delete efim-vm.yaml
  compute/sna/efim-vm.yaml
Due: validate-configuration, provision-compute, apply-playbooks

add compute for dbaas
  compute/dbaas/prime.yaml
Due: validate-configuration, provision-compute, apply-playbooks

Delete prime.yaml
  compute/dbaas/prime.yaml
Due: validate-configuration, provision-compute, apply-playbooks

recreate of dbaas prime
  compute/dbaas/prime.yaml
Due: validate-configuration, provision-compute, apply-playbooks

add standby for cluster
  compute/dbaas/standby.yaml
Due: validate-configuration, provision-compute, apply-playbooks

add prime db for cluster
  compute/dbaas/prime.yaml
Due: validate-configuration, provision-compute, apply-playbooks

Delete standby.yaml
  compute/dbaas/prime.yaml
Due: validate-configuration, provision-compute, apply-playbooks

Delete standby.yaml
  compute/dbaas/standby.yaml
Due: validate-configuration, provision-compute, apply-playbooks

add prime
  compute/dbaas/prime.yaml
Due: validate-configuration, provision-compute, apply-playbooks

add standby
  compute/dbaas/standby.yaml
Due: validate-configuration, provision-compute, apply-playbooks

add prime
  compute/dbaas/compute/dbaas/prime.yaml
Due: validate-configuration, provision-compute, apply-playbooks

Delete prime.yaml
  compute/dbaas/compute/dbaas/prime.yaml
Due: validate-configuration, provision-compute, apply-playbooks

Path conditions:
  build-on-code-change: any of: src/**/*, pyproject.toml, poetry.lock, Dockerfile, .gitlab-ci.yml
  validate-configuration: any of: compute/**/*
  provision-compute: any of: compute/**/*
  apply-playbooks: any of: compute/**/*
