Repository wensiet/pipeformer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-on-code-change, validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

.gitlab-ci.yml:

stages:
  - build
  - validate-config
  - provision
  - post-scripts

variables:
  IMAGE_NAME: "registry.gitlab.com/pipeform/pipeformer"

build-on-code-change:
  stage: build
  image: docker:dind
  services:
    - docker:dind
  only:
    changes:
      - src/**/*
      - pyproject.toml
      - poetry.lock
      - Dockerfile
      - .gitlab-ci.yml
    refs:
      - main
  script:
    - docker info
    - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
    - export VERSION_TAG=$(if [ "$CI_COMMIT_TAG" != "" ]; then echo "$CI_COMMIT_TAG"; else echo "$CI_COMMIT_REF_NAME-${CI_COMMIT_SHORT_SHA}"; fi)
    - docker build -t $IMAGE_NAME:$VERSION_TAG -t $IMAGE_NAME:latest .
    - docker push $IMAGE_NAME:$VERSION_TAG
    - docker push $IMAGE_NAME:latest

validate-compute-configuration:
  image: $IMAGE_NAME:latest
  stage: validate-config
  only:
    changes:
      - compute/**/*
  before_script:
    - source ./find_changed_config.sh
  script:
    - validate -f $file_name -c $change_type


provision-compute-instance:
  image: python:3.12
  stage: provision
  only:
    changes:
      - compute/**/*
    refs:
      - main
  before_script:
    - pip install --upgrade pip
    - pip install poetry
    - poetry install -v
    - source ./find_changed_config.sh
  script:
    - poetry run python cli.py provision -f $file_name -c $change_type

apply-compute-post-scripts:
  image: python:3.12
  stage: post-scripts
  only:
    changes:
      - compute/**/*
    refs:
      - main
  script:
    - echo "Ded, apply compute post scripts"

add of compute
  compute/sna/with-playbook.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

del of compute
  compute/sna/with-playbook.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

del of compute
  Dockerfile
  src/services/configuration/service.py
Due: build-on-code-change

add of compute
  Dockerfile
Due: build-on-code-change

deleted awesome compute
  compute/sna/awesome.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

logs fix
  src/services/configuration/dto.py
Due: build-on-code-change

del of compute with playbooks
  compute/sna/with-playbook.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

added .gitkeep to keep empty directories
  compute/.gitkeep
  compute/sna/.gitkeep
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

add intelligent-smew compute
  compute/sna/intelligent-smew.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

Update CHANGELOG
  CHANGELOG
Due: none

CI-job refactor
  .gitlab-ci.yml
Due: build-on-code-change

Delete intelligent-smew.yaml
  compute/sna/intelligent-smew.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

add new compute
  compute/sna/world.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

refactor of interface
  .gitlab-ci.yml
  cli.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: build-on-code-change

CI hotfix
  .gitlab-ci.yml
Due: build-on-code-change

deleted compute
  compute/sna/world.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

add compute
  compute/sna/world.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

add compute
  .gitlab-ci.yml
Due: build-on-code-change

del compute
  compute/sna/world.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

CI job fix
  .gitlab-ci.yml
Due: build-on-code-change

CI job fix
  .gitlab-ci.yml
  find_changed_config.sh
Due: build-on-code-change

CI job fix
  compute/sna/main.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

del of main compute
  compute/sna/main.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

Add zabbix source
  compute/sna/zabbix.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

add zabbix configurer
  src/integrations/zabbix/__init__.py
  src/integrations/zabbix/wrapper.py
  src/services/provision/service.py
Due: build-on-code-change

Delete zabbix.yaml
  compute/sna/zabbix.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

add nikiting compute
  compute/sna/nikiting.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

add zabbix configurer
  src/services/provision/service.py
Due: build-on-code-change

Delete nikiting.yaml
  compute/sna/nikiting.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

add nikita compute
  compute/sna/nikita-p.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts

grafana dashboard auto-build
  src/services/provision/service.py
  src/services/utils.py
  src/settings.py
Due: build-on-code-change

Delete nikita-p.yaml
  compute/sna/nikita-p.yaml
Due: validate-compute-configuration, provision-compute-instance, apply-compute-post-scripts
