Repository wensiet/pipeformer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-on-code-change, validate-configuration, provision-compute, apply-playbooks

.gitlab-ci.yml:

# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/pipeline/#customization
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
stages:
- build
- validate
- provision
- post-scripts
- test
variables:
  IMAGE_NAME: registry.gitlab.com/pipeform/pipeformer
build-on-code-change:
  stage: build
  image: docker:dind
  services:
  - docker:dind
  only:
    changes:
    - src/**/*
    - pyproject.toml
    - poetry.lock
    - Dockerfile
    - ".gitlab-ci.yml"
    refs:
    - main
  script:
  - docker info
  - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  - export VERSION_TAG=$(if [ "$CI_COMMIT_TAG" != "" ]; then echo "$CI_COMMIT_TAG";
    else echo "$CI_COMMIT_REF_NAME-${CI_COMMIT_SHORT_SHA}"; fi)
  - docker build -t $IMAGE_NAME:$VERSION_TAG -t $IMAGE_NAME:latest .
  - docker push $IMAGE_NAME:$VERSION_TAG
  - docker push $IMAGE_NAME:latest
validate-configuration:
  image: "$IMAGE_NAME:latest"
  stage: validate
  only:
    changes:
    - compute/**/*
  script:
  - if [ "$CI_COMMIT_BEFORE_SHA" = "0000000000000000000000000000000000000000" ]; then
    OLD_SHA=$(git rev-parse HEAD^); else OLD_SHA=$CI_COMMIT_BEFORE_SHA; fi;
  - python cli.py --old-sha $CI_COMMIT_SHA --new-sha $OLD_SHA validate
provision-compute:
  image: "$IMAGE_NAME:latest"
  stage: provision
  only:
    changes:
    - compute/**/*
    refs:
    - main
  script:
  - python cli.py --old-sha $CI_COMMIT_SHA --new-sha $CI_COMMIT_BEFORE_SHA provision
apply-playbooks:
  image: "$IMAGE_NAME:latest"
  stage: post-scripts
  only:
    changes:
    - compute/**/*
    refs:
    - main
  before_script:
  - mkdir -p ~/.ssh
  - echo "$SSH_SERVICE" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  script:
  - python cli.py --old-sha $CI_COMMIT_SHA --new-sha $CI_COMMIT_BEFORE_SHA playbooks
sast:
  stage: test
include:
- template: Security/SAST.gitlab-ci.yml

add prime
  compute/dbaas/prime.yaml
Due: validate-configuration, provision-compute, apply-playbooks

Delete standby.yaml
  compute/dbaas/standby.yaml
Due: validate-configuration, provision-compute, apply-playbooks

Delete prime.yaml
  compute/dbaas/prime.yaml
Due: validate-configuration, provision-compute, apply-playbooks

add master node for redis
  compute/redis/master.yaml
Due: validate-configuration, provision-compute, apply-playbooks

add slave node for redis
  compute/redis/slave.yaml
Due: validate-configuration, provision-compute, apply-playbooks

Delete slave.yaml
  compute/redis/slave.yaml
Due: validate-configuration, provision-compute, apply-playbooks

Delete master.yaml
  compute/redis/master.yaml
Due: validate-configuration, provision-compute, apply-playbooks

add master node
  compute/redis/master.yaml
Due: validate-configuration, provision-compute, apply-playbooks

add slave node
  compute/redis/slave.yaml
Due: validate-configuration, provision-compute, apply-playbooks

vault integration to pass variables into ansible playbooks
  CHANGELOG
  README.md
  cli.py
  find_changed_config.sh
  requirements.txt
  src/integrations/timeweb/dto.py
  src/integrations/timeweb/wrapper.py
  src/integrations/vault/__init__.py
  src/integrations/vault/extractor.py
  src/services/configuration/dto.py
  src/services/configuration/service.py
  src/services/provision/service.py
  src/services/utils.py
  src/services/validation/dto.py
  src/services/validation/service.py
  src/settings.py
Due: build-on-code-change

add minio with secrets in vault
  compute/iskander/minio.yaml
Due: validate-configuration, provision-compute, apply-playbooks

Delete minio.yaml
  compute/iskander/minio.yaml
Due: validate-configuration, provision-compute, apply-playbooks

add deep config validation and unit tests
  .gitlab-ci.yml
  CHANGELOG
  poetry.lock
  pyproject.toml
  requirements.txt
  src/integrations/zabbix/wrapper.py
  src/services/configuration/dto.py
  src/services/validation/dto.py
  src/services/validation/service.py
  src/settings.py
  tests/__init__.py
  tests/conftest.py
  tests/presets/configs/invalid/missing_field.yaml
  tests/presets/configs/invalid/missing_variable_field.yaml
  tests/presets/configs/invalid/wrong_cpucores.yaml
  tests/presets/configs/invalid/wrong_diskspace.yaml
  tests/presets/configs/invalid/wrong_os.yaml
  tests/presets/configs/invalid/wrong_playbook_link.yaml
  tests/presets/configs/invalid/wrong_region.yaml
  tests/presets/configs/invalid/wrong_ssh.yaml
  tests/presets/configs/invalid/wrong_variable_name.yaml
  tests/presets/configs/valid/valid.yaml
  tests/test_mock.py
  tests/test_validation.py
Due: build-on-code-change

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build-on-code-change

minio deployment
  compute/sna/minio.yaml
Due: validate-configuration, provision-compute, apply-playbooks

Delete minio.yaml
  compute/sna/minio.yaml
Due: validate-configuration, provision-compute, apply-playbooks

ci-job fix
  .gitlab-ci.yml
Due: build-on-code-change

ci job fix
  .gitlab-ci.yml
Due: build-on-code-change

new compute with docker executor
  compute/sna/machine.yaml
Due: validate-configuration, provision-compute, apply-playbooks

test
  compute/tolmachd/test.yaml
Due: validate-configuration, provision-compute, apply-playbooks

Update README.md
  README.md
Due: none

Delete machine.yaml
  compute/sna/machine.yaml
Due: validate-configuration, provision-compute, apply-playbooks

new vm
  compute/test/test.yaml
Due: validate-configuration, provision-compute, apply-playbooks

Delete test.yaml
  compute/tolmachd/test.yaml
Due: validate-configuration, provision-compute, apply-playbooks

new vm
  compute/Darya/demo.yaml
Due: validate-configuration, provision-compute, apply-playbooks

delete
  compute/Darya/demo.yaml
Due: validate-configuration, provision-compute, apply-playbooks

Delete test.yaml
  compute/test/test.yaml
Due: validate-configuration, provision-compute, apply-playbooks
